<div class="row">
  <div class="noose col-xs-4 col-xs-offset-4">
  |
  </div>
</div>
<div class="row">
  <div class="head not-revealed col-xs-4 col-xs-offset-4">
    ( _ )
  </div>
</div>
<div class="row">
  <div class="left-arm not-revealed col-xs-1 col-xs-offset-4">
    /
  </div>
  <div class="torso not-revealed col-xs-2">
    |
  </div>
  <div class="right-arm not-revealed col-xs-1">
    \
  </div>

</div>
<div class="row">
  <div class="torso not-revealed col-xs-2 col-xs-offset-5">
    |
  </div>
</div>
<div class="row">
  <div class="left-leg not-revealed col-xs-2 col-xs-offset-4">
    /
  </div>
  <div class="right-leg not-revealed col-xs-2">
    \
  </div>
</div>
